<div class="section container">
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1 class="mt-0">訂單 #1</h1>
        <div>
            <form [formGroup]="orderForm">
                <select class="form-select" aria-label="Default select example" formControlName="status" (change)="onOrderSubmit()">
                    <option value="Pending">待處理</option>
                    <option value="PaymentRecevied">已付款</option>
                    <option value="PaymentFailed">付款失敗</option>
                    <option value="PendingPickup">待取貨</option>
                    <option value="Complete">已完成</option>
                </select>
            </form>
        </div>
    </div>
    <div class="table-responsive mb-5">
        <table class="table" *ngIf="order">
            <thead>
                <tr>
                    <th scope="col">配送資訊</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>收件人</td>
                    <td>{{ order.shipToAddress.firstName + order.shipToAddress.lastName }}</td>
                </tr>
                <tr>
                    <td>聯絡電話</td>
                    <td>{{ order.shipToAddress.phoneNumber }}</td>
                </tr>
                <tr>
                    <td>收件地址</td>
                    <td>{{order.shipToAddress.zipCode + order.shipToAddress.county+ order.shipToAddress.city+
                        order.shipToAddress.street}}</td>
                </tr>
                <tr>
                    <td>配送方式</td>
                    <td>{{order.deliveryMethod}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8">
            <app-basket-summary *ngIf="order" [items]="order.orderItems" [isBasket]="false"
                [isOrder]="true"></app-basket-summary>
        </div>
        <div class="col-12 col-lg-4">
            <div>
                <app-order-totals *ngIf="order" [shippingPrice]="order.shippingPrice" [subtotal]="order.subtotal"
                    [total]="order.total"></app-order-totals>
            </div>
        </div>
    </div>
</div>